.gradle
/build/
/bin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle build output directory
build

# Ignore Eclipse Project
/.settings/
/.project

# Ignore Document Lock
.~lock*
/.texlipse
/mai.synctex.gz
/.externalToolBuilders/
template/altacv/main.aux
template/altacv/main.fdb_latexmk
template/altacv/main.fls
template/altacv/main.bcf
template/altacv/main.log
template/altacv/main.out
template/altacv/main.pdf
template/altacv/main.run.xml
template/altacv/main.synctex.gz
